.container-grid {
	display: grid;
	grid-template-columns: repeat(
		auto-fit,
		minmax(100px, auto)
	);
	background-color: rgba(67, 114, 233, 0.9);
	width: 92%;
	height: 130px;
	font-size: 0.9rem;
	position: absolute;
	left: 4%;
	top: 55%;
	z-index: 100;
}
.icon-to {
	font-size: 1.3rem;
	color: rgb(202, 198, 198);
	margin-left: -12rem;
}
.wrapper-input {
	display: flex;
	justify-content: center;
	text-align: center;
}
.input-destination-data {
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(202, 198, 198);
	font-weight: 800;
	gap: 1rem;
}
.input-destination-data .icon {
	font-size: 1.3rem;
	color: rgb(202, 198, 198);
}

.input-destination-data input {
	background-color: transparent;
	outline: none;
	border: none;
	color: rgb(202, 198, 198);
	padding-left: 0.5rem;
}

@media screen and (max-width: 1150px) {
	.container-grid {
		display: flex;
		flex-direction: column;
		background-color: rgb(67, 114, 233);
		width: 100%;
		height: fit-content;
		position: initial;
		left: initial;
		top: initial;
		padding: 1.5rem;
		padding-bottom: 0;
		margin-top: -0.1rem;
		gap: 1rem;
	}
	.wrapper-input {
		justify-content: flex-start;
	}
}
