.container-banner {
	width: 92%;
	height: 410px;
	display: grid;
	grid-template-columns: 1fr 2fr;
	position: absolute;
	left: 4%;
	top: 0%;
	transform: translateY(-90%);
	padding-top: 3.2rem;
	z-index: -1;
	color: black;
	opacity: 1;
	transition: 0.7s ease-out opacity;
}
.icons-hover,
.icons-hover-insurance {
	display: none;
}
.hover:hover .icons-hover-insurance {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	color: rgb(67, 114, 233);
	border-bottom: 5px solid rgb(67, 114, 233);
	width: 78px;
	padding-bottom: 5px;
	text-align: center;
	bottom: -5%;
}
.hover:hover .icons-hover {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	color: rgb(67, 114, 233);
	border-bottom: 5px solid rgb(67, 114, 233);
	width: 130px;
	padding-bottom: 5px;
	text-align: center;
	bottom: -5%;
}
.hover {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.hover:hover .container-banner {
	opacity: 1;
	z-index: 1;
	transform: translateY(12%);
}

.container-banner .text-banner {
	display: flex;
	flex-direction: column;
	height: 360px;
	background-color: rgb(4, 74, 250);
	padding: 2.5rem;
	font-weight: 300;
	color: #fff;
	cursor: initial;
}
.container-banner .text-banner h2 {
	font-size: 1.9rem;
	margin-top: 0.2rem;
	margin-bottom: 3rem;
	font-weight: 500;
}
.container-banner .text-banner button {
	width: 60%;
	font-size: 1.2rem;
	background-color: rgb(67, 114, 233);
	padding: 0.5rem 1.5rem;
	border-radius: 4px;
	border: none;
	outline: none;
	color: #fff;
	margin-top: 0.3rem;
}
.text-banner button:hover {
	background-color: #fff;
	color: rgb(67, 114, 233);
}
.container-banner .banner {
	background-color: rgb(67, 114, 233);
	display: grid;
	grid-template-columns: 1fr 1.5fr;
}
.banner .des-banner {
	text-align: center;
	color: rgb(4, 74, 250);
	padding-top: 3rem;
	font-size: 1.1rem;
}
.banner .des-banner {
	background-image: url(../../asset/banner/b1.jpg);
	background-size: cover;
	background-position: center;
	border: 5px solid rgb(50, 105, 243);
	cursor: initial;
}
.banner .des-banner h3,
.banner .des-banner h4 {
	font-size: 1.5rem;
}
.banner .destination-list {
	text-align: center;
	color: #fff;
	padding: 3rem;
	cursor: initial;
}
.banner .destination-list h2 {
	font-size: 1.7rem;
	font-weight: 400;
	margin-bottom: 2.5rem;
}
.destination-list .wrapp-list {
	display: flex;
	text-align: start;
	gap: 4rem;
	padding: 0 1rem;
}
.destination-list .wrapp-list div {
	font-size: 1rem;
	cursor: pointer;
}
.destination-list .wrapp-list .a-list {
	display: flex;
	gap: 0 1rem;
	font-size: 1rem;
}
.wrapp-list .a-list .icon {
	margin-top: -0.3rem;
	color: #fff;
	font-size: 1.5rem;
}
.container-data-hover {
	position: relative;
	display: grid;
	grid-template-columns: repeat(
		auto-fit,
		minmax(320px, auto)
	);
}
.container-img {
	position: relative;
}
.container-data-hover .wrapper-img {
	width: 320px;
	height: 360px;
}
.container-data-hover .wrapper-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.container-data-hover .wrapper-text {
	position: absolute;
	top: 0;
	padding: 1rem;
}
.container-data-hover .wrapper-text h5 {
	font-size: 1.5rem;
	color: #fff;
}
