.container-all-destinations {
	padding: 4rem 3rem 1rem 3rem;
	display: grid;
	grid-template-columns: 370px auto;
}
.container-all-destinations .filter-packages {
	border-right: 3px solid #ccc;
}

.container-all-destinations .list-destinations {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4rem;
	font-size: 2rem;
}
.container-all-destinations .list-destinations li {
	list-style: none;
	cursor: pointer;
}
.container-all-destinations .active-list-destinations {
	list-style: none;
	cursor: pointer;
	color: rgb(67, 114, 233);
	border-bottom: 5px solid rgb(67, 114, 233);
}
