.container-footer {
	padding: 1.5rem 3rem 0 3rem;
}
.wrapper-logo {
	width: 35px;
	height: 35px;
	position: absolute;
	left: 100%;
	top: -60%;
}
.wrapper-logo img {
	width: 100%;
	height: 100%;
	transform: rotate(30deg);
}
.footer-up {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #999;
}
.left {
	display: flex;
	position: relative;
}
.icons-sosial-media {
	display: flex;
	gap: 1rem;
	padding-bottom: 1rem;
	font-size: 1.2rem;
	color: #999;
}
.wrapper-link-in-footer {
	display: flex;
	justify-content: space-between;
}
.list {
	padding-top: 1rem;
}
.list div {
	font-size: 0.8rem;
	margin-bottom: 0.3rem;
}
.container-footer p {
	font-size: 0.8rem;
}
.copyright {
	padding: 0 3rem;
}
.copyright img {
	width: 75px;
}
.copyright p {
	font-size: 0.9rem;
}

@media screen and (max-width: 999px) {
	.container-footer {
		display: none;
	}
	.copyright {
		text-align: center;
		padding-top: 1rem;
	}
	.copyright img {
		display: none;
	}
}
