.container-content {
	padding: 4rem 6rem 1rem 6rem;
	box-sizing: border-box;
}
.head {
	text-align: center;
	margin-bottom: 2rem;
}
.head h2 {
	font-size: 1.5rem;
}
.head p {
	font-size: 0.7rem;
	padding-bottom: 0.5rem;
}
.wrapp-img {
	height: 450px;
	position: relative;
}
.wrapp-img img,
.wrapp-img-tour img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.wrapp-content {
	display: grid;
	grid-template-columns: repeat(
		auto-fit,
		minmax(250px, 1fr)
	);
	overflow: hidden;
}
.desc {
	position: absolute;
	color: #fff;
	top: 0;
	padding: 2rem;
}
.desc h3 {
	font-size: 1.3rem;
	margin-bottom: 0;
}
.desc h5 {
	font-size: 0.7rem;
	margin-bottom: 1.5rem;
}
.desc h6 {
	font-size: 0.6rem;
	margin-bottom: 0;
}
.desc p {
	font-size: 0.6rem;
	margin-top: -0.5rem;
	color: orangered;
}
.desc p span {
	font-size: 1.5rem;
}
.wrapper-btn {
	display: flex;
	position: absolute;
	width: 100%;
	height: 0;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.5);
	bottom: -5%;
	transition: 0.5s ease height;
}
.wrapp-img:hover .wrapper-btn {
	height: 100%;
	bottom: 0;
}
.wrapper-btn .btn {
	background-color: rgb(67, 114, 233);
	border: none;
	outline: none;
	border-radius: 4px;
	margin-bottom: 4rem;
	padding: 0.5rem 3rem;
	font-size: 0.8rem;
	font-weight: 600;
	color: #fff;
	transition: 1s;
}
.wrapper-btn .btn-hide {
	display: none;
}
.wrapper-btn .btn:hover {
	background-color: #fff;
	color: rgb(67, 114, 233);
}

/* style tourpackages */
.wrapp-content-tour {
	display: grid;
	grid-template-columns: repeat(
		auto-fit,
		minmax(300px, 1fr)
	);
	overflow: hidden;
	gap: 2.5rem 2rem;
}
.container-data {
	height: 470px;
	border-bottom: 1px solid #999;
	margin-bottom: 5rem;
	position: relative;
	overflow: hidden;
}
.wrapp-img-tour {
	height: 270px;
	transition: 0.3s ease-in;
}
.desc-tour {
	padding: 1.3rem 0;
}
.desc-tour h3 {
	font-size: 1.7rem;
	padding: 0.4rem 0;
}
.desc-tour h6 {
	font-size: 0.8rem;
}
.desc-tour .price {
	display: flex;
	gap: 0 5rem;
	padding-top: 0.3rem;
	padding-bottom: 3.5rem;
}
.desc-tour .price p {
	font-size: 0.6rem;
	margin-top: -1rem;
}
.desc-tour .price span {
	color: orangered;
	font-size: 1.5rem;
}
.desc-packages {
	width: 100%;
	background-color: #fff;
}
.details-tour {
	color: rgb(67, 114, 233);
	font-size: 0.8rem;
	margin-top: -4.5rem;
}

.container-data:hover .desc-tour .price {
	padding-bottom: 1rem;
}
.container-data:hover .wrapp-img-tour {
	height: 30px;
}
.container-data:hover .desc-tour {
	padding: 1rem;
}
.container-data:hover .desc-tour h3 {
	margin: 1rem 0;
	font-size: 1.3rem;
}
.container-data:hover .desc-tour-city {
	font-size: 0.8rem;
	text-align: start;
}
