.container-filter {
	padding-left: 1rem;
}
.container-filter .result-filter {
	display: flex;
	gap: 1rem;
	padding-bottom: 1rem;
}
.container-filter .icon-search {
	font-size: 1.4rem;
	padding-bottom: 0.3rem;
}
.container-filter .icon-filter {
	font-size: 1.4rem;
	padding-bottom: 0.3rem;
	cursor: pointer;
}
.container-filter .icon-filter-rotate {
	transform: rotate(180deg);
	font-size: 1.4rem;
	cursor: pointer;
}
.container-filter .filter-price,
.travel-style,
.tour-type,
.duration {
	padding-bottom: 3rem;
	border-bottom: 3px solid #ccc;
	margin-bottom: 2rem;
}

.container-filter .filter-price .price-list {
	display: flex;
	border-top: 3px solid #ccc;
	border-bottom: 3px solid #ccc;
	margin-bottom: 2rem;
	height: 100px;
	width: 100%;
}
.container-filter .filter-price .price-list .popularity,
.highest {
	display: flex;
	justify-content: center;
	align-items: center;
	border-left: 3px solid #ccc;
	width: 33%;
	height: 100%;
}
.container-filter .filter-price .price-list .lowest {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 33%;
}
.container-filter
	.filter-price
	.price-list
	.active-category {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 33%;
	color: #fff;
	background-color: rgb(67, 114, 233);
}
.container-filter .title {
	position: relative;
	display: flex;
	gap: 1rem;
	margin-bottom: 1rem;
}
.container-filter .icon-loader {
	position: absolute;
	right: 5%;
	top: -30%;
	font-size: 2rem;
	color: rgb(67, 114, 233);
	cursor: pointer;
}
.container-filter .icon-loader:hover {
	animation: loader 1s ease-in-out infinite alternate;
}
.container-filter .filter-price .price-range input,
.duration input {
	width: 85%;
}
.container-filter .filter-price .price-range .range-value {
	display: flex;
	gap: 8rem;
}

.container-filter .travel-style .list-style,
.container-filter .tour-type .list-style {
	display: flex;
	justify-content: space-between;
	width: 90%;
	background-color: rgb(67, 114, 233);
	border-radius: 20px;
	padding: 0.5rem 0.6rem 0 0.6rem;
	color: #fff;
	margin-bottom: 1rem;
}
.container-filter .duration .range-value {
	display: flex;
	gap: 76%;
}
.container-filter .btn-destinatios {
	width: 95%;
	background-color: rgb(67, 114, 233);
	border: none;
	outline: none;
	border-radius: 4px;
	padding: 1rem;
	font-size: 1rem;
	font-weight: 600;
	color: #fff;
	margin-top: 1.3rem;
	transition: 1s;
}
.container-filter .btn-destinatios:hover {
	background-color: #fff;
	color: rgb(67, 114, 233);
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
		color: rgb(255, 151, 122);
	}
	100% {
		transform: rotate(360deg);
		color: rgb(237, 68, 21);
	}
}
