.container-why-choose-us {
	width: 100%;
	padding: 4rem 4rem 1rem 4rem;
	margin-top: 4rem;
	background-color: rgb(67, 114, 233);
	color: #fff;
	overflow-x: hidden;
}
.why-choose-us {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.wrapper-text {
	display: flex;
}
.wrapper-text .small-text {
	line-height: 2px;
	padding-top: 0.6rem;
}
.wrapper-text h3 {
	font-size: 5.5rem;
}
.wrapper-text h4 {
	font-size: 3rem;
	padding-top: 1rem;
	margin-bottom: 0;
}
.wrapper-text p {
	font-size: 0.8rem;
}
.sosial-media {
	background-color: rgb(43, 42, 42);
	color: #fff;
	height: 80px;
	padding-top: 2.5rem;
	padding-bottom: 3rem;
	padding-right: 6rem;
	text-align: end;
}

@media screen and (max-width: 1150px) {
	.wrapper-text {
		gap: 2rem;
	}
	.sosial-media {
		display: none;
	}
}
