header {
	width: 100%;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 999;
}

.top-header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1.8rem;
	background-color: rgb(4, 74, 250);
	color: #fff;
	font-size: 0.85rem;
}
.top-header ul {
	display: flex;
	list-style: none;
}
.top-header ul li {
	margin-right: 2rem;
}
.top-header .login {
	background: orangered;
	margin-right: 2rem;
	padding-right: 1rem;
	cursor: pointer;
}
.top-header .login:hover {
	animation: rotatelogin 1.5s ease-in-out;
}
.top-header .login button {
	border: none;
	outline: none;
	background: transparent;
	padding: 1rem 1.2rem;
	color: #fff;
}
.top-header .login i {
	font-size: 0.7rem;
	padding-right: 0.8rem;
}

.navbar-items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.7rem 4rem;
	background-color: #fff;
	position: relative;
}
.navbar-items .nav-logo {
	position: relative;
}
.navbar-items .nav-logo h1 {
	color: rgb(5, 5, 106);
	font-weight: 400 bold;
	font-size: 1.6rem;
}
.navbar-items .nav-logo p {
	font-size: 0.55rem;
	color: rgb(5, 5, 106);
	text-align: end;
}
.navbar-items .nav-logo span {
	color: aqua;
}
.navbar-items .nav-logo img {
	width: 25%;
	position: absolute;
	right: -30%;
	top: -10%;
	transform: rotate(30deg);
}
.navbar-items .nav-menu .nav-links {
	display: grid;
	grid-template-columns: repeat(8, auto);
	gap: 2.5rem;
	list-style: none;
	margin-bottom: 1rem;
}

.navbar-items .nav-menu .nav-links a {
	text-decoration: none;
	font-size: 1rem;
	color: #1a1a1a;
}
.navbar-items .nav-menu .nav-links .active {
	color: rgb(67, 114, 233);
}
.navbar-items .nav-links a:hover {
	color: rgb(67, 114, 233);
}

@keyframes rotatelogin {
	from {
		transform: rotate(0deg);
		background-color: #fff;
	}
	to {
		transform: rotate(720deg);
		background-color: red;
	}
}
